/*====================桌機開始====================*/
@media screen and (min-width:1024px) {
    .full-width {
        width: 100%;
    }

    .fixed-width {
        width: 1024px;
        margin: auto;
    }

    .col-1 {
        width: calc(100% / 12 *1);
        float: left;
        padding: 15px;
    }

    .col-2 {
        width: calc(100% / 12 *2);
        float: left;
        padding: 15px;
    }

    .col-3 {
        width: calc(100% / 12 *3);
        float: left;
        padding: 15px;
    }

    .col-4 {
        width: calc(100% / 12 *4);
        float: left;
        padding: 15px;
    }

    .col-5 {
        width: calc(100% / 12 *5);
        float: left;
        padding: 15px;
    }

    .col-6 {
        width: calc(100% / 12 *6);
        float: left;
        padding: 15px;
    }

    .col-7 {
        width: calc(100% / 12 *7);
        float: left;
        padding: 15px;
    }

    .col-8 {
        width: calc(100% / 12 *8);
        float: left;
        padding: 15px;
    }

    .col-9 {
        width: calc(100% / 12 *9);
        float: left;
        padding: 15px;
    }

    .col-10 {
        width: calc(100% / 12 *10);
        float: left;
        padding: 15px;
    }

    .col-11 {
        width: calc(100% / 12 *11);
        float: left;
        padding: 15px;
    }

    .col-12 {
        width: calc(100% / 12 *12);
        float: left;
        padding: 15px;
    }

    .center {
        margin: auto;
        float: none;
        text-align: center;
    }

}

/*====================桌機結束====================*/

/*====================平板開始====================*/
@media screen and (min-width:641px) and (max-width:1023px) {
    .full-width {
        width: 100%;
    }

    .fixed-width {
        width: 641px;
        margin: auto;
    }

    .col-1 {
        width: calc(100% / 12 *1);
        float: left;
        padding: 15px;
    }

    .col-2 {
        width: calc(100% / 12 *2);
        float: left;
        padding: 15px;
    }

    .col-3 {
        width: calc(100% / 12 *3);
        float: left;
        padding: 15px;
    }

    .col-4 {
        width: calc(100% / 12 *4);
        float: left;
        padding: 15px;
    }

    .col-5 {
        width: calc(100% / 12 *5);
        float: left;
        padding: 15px;
    }

    .col-6 {
        width: calc(100% / 12 *6);
        float: left;
        padding: 15px;
    }

    .col-7 {
        width: calc(100% / 12 *7);
        float: left;
        padding: 15px;
    }

    .col-8 {
        width: calc(100% / 12 *8);
        float: left;
        padding: 15px;
    }

    .col-9 {
        width: calc(100% / 12 *9);
        float: left;
        padding: 15px;
    }

    .col-10 {
        width: calc(100% / 12 *10);
        float: left;
        padding: 15px;
    }

    .col-11 {
        width: calc(100% / 12 *11);
        float: left;
        padding: 15px;
    }

    .col-12 {
        width: calc(100% / 12 *12);
        float: left;
        padding: 15px;
    }

    .center {
        margin: auto;
        float: none;
        text-align: center;
    }

}


/*====================平板結束====================*/

/*====================手機開始====================*/
@media screen and (max-width:640px) {
    .full-width {
        width: 100%;
    }

    .fixed-width {
        width: 320px;
        margin: auto;
    }

    .col-1 {
        width: calc(100% / 12 *1);
        float: left;
        padding: 15px;
    }

    .col-2 {
        width: calc(100% / 12 *2);
        float: left;
        padding: 15px;
    }

    .col-3 {
        width: calc(100% / 12 *3);
        float: left;
        padding: 15px;
    }

    .col-4 {
        width: calc(100% / 12 *4);
        float: left;
        padding: 15px;
    }

    .col-5 {
        width: calc(100% / 12 *5);
        float: left;
        padding: 15px;
    }

    .col-6 {
        width: calc(100% / 12 *6);
        float: left;
        padding: 15px;
    }

    .col-7 {
        width: calc(100% / 12 *7);
        float: left;
        padding: 15px;
    }

    .col-8 {
        width: calc(100% / 12 *8);
        float: left;
        padding: 15px;
    }

    .col-9 {
        width: calc(100% / 12 *9);
        float: left;
        padding: 15px;
    }

    .col-10 {
        width: calc(100% / 12 *10);
        float: left;
        padding: 15px;
    }

    .col-11 {
        width: calc(100% / 12 *11);
        float: left;
        padding: 15px;
    }

    .col-12 {
        width: calc(100% / 12 *12);
        float: left;
        padding: 15px;
    }

    .center {
        margin: auto;
        float: none;
        text-align: center;
    }
}

/*====================手機結束====================*/